* {
    margin: 0px;
    padding: 0px;
}



.heading {
    width: 100%;
    height: 95px;
    background-color: snow;
    margin: 0px auto;
}

.heading_bar {
    width: 100%;
    height: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
}

.heading_title {
    float: left;
    font-family: Arial, Helvetical, sans-serif;
    font-size: 30px;
    color: burlywood;
}

.middle {
    background-color: burlywood;
    height: 1000px;
}

.left_menu {
    width: 20%;
    min-height: 200px;
    background-color: #00FFFF;
    margin: 0px auto;
    float: left;
}

.content {
    width: 80%;
    min-height: 200px;
    background-color: #5466da;
    margin: 0px auto;
    float: right;

}

.footer {
    width: 100%;
    height: 95px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.heading_menu ul {
    margin-left: 40px;
    float: left;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 6px;
}

.heading_menu li {
    padding-left: 10px;
    display: inline;
}

a:visited, a:visited {
    font-weight: bold;
    color: darkgray;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

a:hover, a:active {
    color: dimgray;
}