.accordion{
	background:#fff;
	overflow:hidden;
}
.accordion .accordion-header{
	background:#E0ECFF;
	border-top-width:0;
	cursor:pointer;
}
.accordion .accordion-header .panel-title{
	font-weight:normal;
}
.accordion .accordion-header-selected .panel-title{
	font-weight:bold;
}
.accordion-noborder .accordion-header{
	border-width:0 0 1px;
}
.accordion-noborder .accordion-body{
	border-width:0px;
}
.accordion-collapse{
	background:url('../../img/default/accordion_collapse.png') no-repeat;
}
.accordion-expand{
	background:url('../../img/default/accordion_expand.png') no-repeat;
}
