.messager-body{
	padding:5px 10px;
}
.messager-button{
	text-align:center;
	padding-top:10px;
}
.messager-icon{
	float:left;
	width:47px;
	height:35px;
}
.messager-error{
	background:url('../../img/gray/messager_error.gif') no-repeat scroll left top;
}
.messager-info{
	background:url('../../img/gray/messager_info.gif') no-repeat scroll left top;
}
.messager-question{
	background:url('../../img/gray/messager_question.gif') no-repeat scroll left top;
}
.messager-warning{
	background:url('../../img/gray/messager_warning.gif') no-repeat scroll left top;
}
.messager-input{
	width: 262px;
	border:1px solid #ccc;
}
.messager-progress{
	padding:10px;
}
.messager-p-msg{
	margin-bottom:5px;
}